@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Dosis);

$srcpath: "../images/";

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=54a0y0krosngU-QlQu6txmDyAhK */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #3C279C; // Main Primary color */
$color-primary-1: #7565BC;
$color-primary-2: #5543A6;
$color-primary-3: #2A187D;
$color-primary-4: #1B0B62;

$color-secondary-1-0: #205394; // Main Secondary color (1) */
$color-secondary-1-1: #5D84B5;
$color-secondary-1-2: #3B669D;
$color-secondary-1-3: #123E76;
$color-secondary-1-4: #072D5D;

$color-secondary-2-0: #6D1C97; // Main Secondary color (2) */
$color-secondary-2-1: #985BB7;
$color-secondary-2-2: #7D38A0;
$color-secondary-2-3: #550F78;
$color-secondary-2-4: #40045E;



// As RGBa codes */

$rgba-primary-0: rgba( 60, 39,156,1); // Main Primary color */
$rgba-primary-1: rgba(117,101,188,1);
$rgba-primary-2: rgba( 85, 67,166,1);
$rgba-primary-3: rgba( 42, 24,125,1);
$rgba-primary-4: rgba( 27, 11, 98,1);

$rgba-secondary-1-0: rgba( 32, 83,148,1); // Main Secondary color (1) */
$rgba-secondary-1-1: rgba( 93,132,181,1);
$rgba-secondary-1-2: rgba( 59,102,157,1);
$rgba-secondary-1-3: rgba( 18, 62,118,1);
$rgba-secondary-1-4: rgba( 7, 45, 93,1);

$rgba-secondary-2-0: rgba(109, 28,151,1); // Main Secondary color (2) */
$rgba-secondary-2-1: rgba(152, 91,183,1);
$rgba-secondary-2-2: rgba(125, 56,160,1);
$rgba-secondary-2-3: rgba( 85, 15,120,1);
$rgba-secondary-2-4: rgba( 64, 4, 94,1);


$border-1: 2px solid rgba(0,0,0,0.3);

/*Mixin*/
@mixin header {
    font-family: 'Exo',sans-serif;
}

@mixin body {
    font-family: 'Dosis',sans-serif;
}

body {
    margin: 0;
    padding: 0;
    @include body;
}
/*Header Styles*/
header.uheader {
    position: absolute;
    z-index: 9;
    width: 100%;

    nav {
        &.navbar-ugym {
            background: rgba(0, 0, 0,0.6);
            margin-top: 2em;
            border-radius: 0;
        }

        .ugymlogo {
            display: inline-table;
        }

        .ugymlogo > img {
            width: 80%;
        }

        .navbar-right {
            li {
                a {
                    color: rgb(255, 255, 255);
                    @include header;
                    font-size: 21px;

                    &:active, &:hover, &:focus {
                        background: none;
                        outline: none;
                    }
                }
            }
        }

        .navbar-nav > li > a {
            line-height: 2.4em;
        }
    }
}

#homescreen {
    .content {
        max-width: 100%;
        width: 100%;
        height: 100vh;

        &.bg1 {
            background: url(#{$srcpath}/homebg1.jpg) no-repeat;
            background-size: cover;
        }

        &.bg2 {
            background: url(#{$srcpath}/homebg2.jpg) no-repeat;
            background-size: cover;
        }

        &.bg3 {
            background: url(#{$srcpath}/homebg3.jpg) no-repeat;
            background-size: cover;
        }
    }
}

.ugym-left-box {
    position: absolute;
    top: 0;
    margin-top: 22%;
    z-index: 9;
    display: inline-block;
    @include header;
    color: #c9c9c9;
    left: 0;
    background: rgba(0,0,0,0.6);
    border-top: $border-1;
    border-right: $border-1;
    border-bottom: $border-1;

    & > h1 {
        color: #e3e3e3;
        font-size: 4em;

        span {
            span {
                &:last-child {
                    color: #3fb0ac !important;
                    font-weight: 600;
                }
            }
        }
    }

    & > h2 {
        color: #c9c9c9;
        @include body;
    }
}

section{
    .promotions{
        background:#1d2120;
        margin-left:0;
        margin-right:0;
        color:#e3e3e3;

        .promotext{
            padding:15px;
            font-size:35px;
        }
        .promocontact{
            i{
                color:#89bdd3;
            }
            font-size:40px;
            vertical-align:middle;
            margin-top:20px;
        }
    }

    .whatwedo{
        background:#020001;
        margin:0;
    }
}
