@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Dosis);

$srcpath: "../images/";

$color-headers: #e84c3d;
$color-title: #4f9aef;
$caption-foreground: #c9c9c9;
$border-1: 2px solid rgba(0,0,0,0.3);
$content-subtle-background: #ccc;
$footer-background: #36424a;

/*Mixin*/
@mixin header {
    font-family: 'Exo',sans-serif;
}

@mixin body {
    font-family: 'Dosis',sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    @include body;
}

.content-wrapper {
    min-height: 100%;
    margin-bottom: -200px;

    &:after {
        display: block;
        content: "";
    }
}



.content-wrapper:after, .footer {
    height: 200px;
}
/*Home Background*/
.homebg {
    position: absolute;
    z-index: 9;
    width: 70%;
    left: 15%;
    margin-left: -10px;
    background: rgba(0, 0, 0,0.6);
    border-bottom: 3px solid $color-title;
    min-height: 80%;

    .navbar-header {
        width: 100%;
    }

    .navbar-brand {
        float: none;
    }

    .wrapper {
        width: 100%;
    }
}
/*Header Styles*/
header.uheader {
    nav {
        &.navbar-ugym {
            margin-top: 2em;
            border-radius: 0;
        }

        .ugymlogo {
            display: inline-table;
        }

        .navbar-center {
            float: none;
            display: inline-block;

            li {
                a {
                    color: rgb(255, 255, 255);
                    @include header;
                    font-size: 21px;

                    &:active, &:hover, &:focus {
                        background: none;
                        outline: none;
                    }
                }
            }
        }

        .navbar-nav > li > a {
            line-height: 2.4em;
        }
    }
}

#homescreen {
    .content {
        max-width: 100%;
        width: 100%;
        height: 100vh;

        &.bg1 {
            background: url(#{$srcpath}/homebg1.jpg) no-repeat;
            background-size: cover;
        }

        &.bg2 {
            background: url(#{$srcpath}/homebg2.jpg) no-repeat;
            background-size: cover;
        }

        &.bg3 {
            background: url(#{$srcpath}/homebg3.jpg) no-repeat;
            background-size: cover;
        }
    }
}

.ugym-left-box {
    display: inline-block;
    @include header;

    & > h1 {
        color: #efefef;
        /*color: $color-headers;*/
        font-size: 4em;
        text-transform: uppercase;

        span {
            span {
                &:last-child {
                    color: #3fb0ac !important;
                    font-weight: 600;
                }
            }
        }
    }

    h2 {
        line-height: 1.5em;
        @include body;
        color: $caption-foreground;

        small {
            color: darken($caption-foreground,10%);
        }
    }
}

section {
    .promotions {
        background: #1d2120;
        margin-left: 0;
        margin-right: 0;
        color: #e3e3e3;

        .promotext {
            padding: 15px;
            font-size: 35px;
        }

        .promocontact {
            i {
                color: #89bdd3;
            }

            font-size: 40px;
            vertical-align: middle;
            margin-top: 20px;
        }
    }
}

.subtle-bg {
    background: $content-subtle-background;
}

.tiles-container {
    padding: 20px 15px;
    font-family: 'Trebuchet MS', sans-serif;

    h1 {
        color: #505050;
        text-align: center;
        margin: 20px 0;
    }

    .tiles {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        float: left;
        margin-right: 2%;
        background: #fff;
        padding: 10px;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
        margin-bottom: 30px;

        &:last-child {
            margin-right: 0;
        }

        figcaption {
            color: #505050;
            font-size: 1.75em;
            padding: 10px 0 5px;
            display: block;
        }

        p {
            font-size: 1em;
            font-weight: 500;


            .text {
                margin-bottom: 20px;
                font-size: 1.15em;
                line-height: 1.25em;
                color: #222;
            }
        }

        @media (max-width:800px) {
            width: 100%;
            margin-right: 0;
        }
    }
}


.fitness-goals {
    min-height: 180px;
    background: url('../images/fitnessGoals.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fitnessGoals.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fitnessGoals.jpg', sizingMethod='scale')";

    > div {
        float: left;
        width: 100%;
    }
}

.location {
    width: 100%;
    padding: 0;
    height: 300px;
}

.pad-top-20 {
    padding-top: 20px;
}

.footer {
    color: #e5e5e5;
    background: $footer-background;
    padding-top: 40px;
    padding-bottom: 20px;

    h4 {
        font-weight: 500;
        margin: 0 0 10px;
        line-height: normal;
        font-size: 1.5em;
        @include header;
        letter-spacing: 2px;

        + p {
            font-size:1.25em;
        }
    }

    ul {
        margin: 0;
        padding: 0 15px;
        list-style: none;
        font-size: 1em;

        &.social-media {
            padding: 0;

            li {
                float: left;
                margin-right: 10px;
                font-size: 1.5em;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        li {
            padding: 0 0 20px;

            a {
                color: #efefef;
                font-weight: 500;
                font-size: 1.15em;
                letter-spacing: 1.5px;

                span {

                    strong {
                        font-weight: normal;
                    }

                    &.icon-container {
                        background: darken($footer-background, 10%);
                        padding: 0;
                        border-radius: 50%;
                        color: #efefef;
                        text-align: center;
                        height: 30px;
                        width: 30px;
                        display: block;
                        float: left;
                        margin-right: 10px;
                        vertical-align: text-top;

                        .fa {
                            font-size: 1.25em;
                            padding: 7px;

                            &.fa-location-arrow {
                                -ms-transform: rotate(-45deg);
                                -webkit-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                            }

                            &.fa-envelope {
                                font-size: 1em;
                            }
                        }
                    }

                    .icon-container + & {
                        vertical-align: text-top;
                        width: calc(100% - 30px);
                        float: left;
                    }
                }

                &:hover, &:focus {
                    color: $color-title;

                    .icon-container {
                        background: lighten($footer-background, 5%);
                    }
                }
            }
        }
    }
}

.text-underline {
    text-decoration: underline;
}
